@using PatientManagement.PatientManagement

@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}

@section ContentHeader {
    <h1>@LocalText.Get("Navigation.Dashboard")<small>@Html.Raw(Texts.Site.Dashboard.ContentDescription)</small></h1>
}

@section BottoMenuLeftNavigation
{
    <li id="Left-bottom-menu-visit-types" class="header">@Texts.Site.Dashboard.VisitTypesLeftMenu</li>
    
    <script type="text/javascript">
        jQuery(function () {
            new PatientManagement.VisiTypesBottomLeftMenu($('#Left-bottom-menu-visit-types'), {});
                            
        });
    </script>
}

@section Head {
    <link rel="stylesheet" href="~/Scripts/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Scripts/fullcalendar/fullcalendar.print.css" media="print">
    <script src="~/Scripts/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/Scripts/fullcalendar/locale-all.js"></script>
    @*<script src="~/Scripts/jquery-migrate-3.0.0.js"></script>*@


    <link href="~/Scripts/contextMenu/jquery.contextMenu.css" rel="stylesheet" />
    <script src="~/Scripts/contextMenu/jquery.ui.position.js"></script>
    <script src="~/Scripts/contextMenu/jquery.contextMenu.js"></script>
<script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>
}

@{
    var localeCalendar = $"../Scripts/fullcalendar/locale/{System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName}.js";
}
<script src="@localeCalendar"></script>
<div class="row" id="calendar-holder">
    @*<div class="col-md-5">
            <div class="col-md-12">
                <div class="box box-solid box-primary">
                    <div class="box-body dashboard-visitsgrid">
                        <div id="VisitsGridDiv"></div>

                        <script type="text/javascript">
                            jQuery(function () {
                                new PatientManagement.PatientManagement.CalendarVisitsGrid($('#VisitsGridDiv'), {}).init();

                                Q.initFullHeightGridPage($('#VisitsGridDiv'));
                            });
                        </script>
                    </div>
                </div>


            </div>
        </div>*@
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <!-- THE CALENDAR -->
                <div id="calendar"></div>
            </div><!-- /.box-body -->
        </div><!-- /. box -->
    </div><!-- /.col -->
</div><!-- /.row -->

<script>
    

    $(function () {
     
        $.contextMenu({
            selector: '.context_menu',
            callback: function (key, options) {
                options.$trigger.toggleClass('context_menu');

                switch(key)
                {
                    case 'viewPatinet':
                        options.$trigger.click();
                    break;
                    case 'openVisit':
                        new PatientManagement.PatientManagement.CalendarVisitsDialog().loadByIdAndOpenDialog(options.$trigger.data('visitId'));
                        break;

                    case 'sendEmail':
                        var dialogSendEmails = new PatientManagement.Administration.SentEmailsDialog();
                        dialogSendEmails.sendPredefinedEmail(options.$trigger.data('visitId'));
                        break;
                    case 'delete':

                        var dialogCalendarVisit = new PatientManagement.PatientManagement.CalendarVisitsDialog();
                        dialogCalendarVisit.deleteVisit(options.$trigger.data('visitId'));

                    break;

                }


            },
            items: {
                "viewPatinet": { name: "@Html.Raw(Texts.Site.Dashboard.ViewPatinet)", icon: "fa-user" },
                "sep4": "---------",

                "openVisit": { name: "@Html.Raw(Texts.Site.Dashboard.ViewVisit)", icon: "fa-calendar-o" },
                "sep3": "---------",

                "sendEmail": { name: "@Html.Raw(Texts.Site.Dashboard.SendEmail)", icon: "fa-envelope-open-o" },
                "sep2": "---------",

                "delete": { name: "@Html.Raw(Texts.Site.Dashboard.DeleteVisit)", icon: "fa-trash-o" },
                "sep1": "---------",
                "quit": {name: "@Html.Raw(Texts.Site.Dashboard.QuitContextMenu)", icon: function(){

                    return 'context-menu-icon context-menu-icon-quit';
                }}
            }
        });

        $('.context-menu-one').on('click',
            function(e) {
                console.log(e);
            });
    });

    function FormatAlertMessage(title, startDate, endDate) {
        var str = Q.text("Site.Dashboard.AlertOnCalendarChange") + "\n " +
            Q.text("Site.Dashboard.CalendarPatient")+ " " +  title + "\n" +
            Q.text("Site.Dashboard.CalendarStartDate") + " " + startDate.format("DD.MM.YYYY HH:mm:ss") + "\n" +
            Q.text("Site.Dashboard.CalendarEndDate") + " " + endDate.format("DD.MM.YYYY HH:mm:ss");

        return str;
    }

    $('#calendar:not(".fc-event")').on('contextmenu',
        function(e) {
            e.preventDefault();
        });
    //function to calculate window height
    function get_calendar_height() {
        if (/Mobi/.test(navigator.userAgent)) {
            if (window.innerHeight < window.innerWidth) {
                return $(window).height() - 30;
            } else {
                return $(window).height() + 50;
                
            }
        }
        
        return $(window).height() - 180;
    }
    
    $(document).ready(function () {
       
        $(window).resize(function() {
            $('#calendar').fullCalendar('option', 'height', get_calendar_height());
        });

        var initialLocaleCode =  '@System.Globalization.CultureInfo.CurrentUICulture.Name';
        /* initialize the calendar   -----------------------------------------------------------------*/
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay, listWeek'
            },
            locale: initialLocaleCode,
            buttonIcons: false, // show the prev/next text
            weekNumbers: true,
            navLinks: true, // can click day/week names to navigate views
            height: get_calendar_height,
            defaultView: 'agendaWeek',
            //businessHours: {
            //    dow: [ 1, 2, 3, 4, 5 ], // Monday - Friday

            //    start: '8:00',
            //    end: '20:00'
            //},
            slotDuration: '00:15:00',
            minTime: "07:00:00",
            maxTime: "21:00:00",
            eventClick: function(event) {

                new PatientManagement.PatientManagement.CalendarPatientDialog().loadByIdAndOpenDialog(event.patientId);
                if (event.url) {
                    return false;
                }
            },
            eventLimit: true,
            allDaySlot: false,
            editable: true,
            droppable: false,
            selectable: true,
            selectHelper: true,
            eventRender: function (event, element) {
                element.bind('mousedown', function (e) {
                    if (e.which == 3) {

                        element.data('visitId', event.id);
                        element.toggleClass('context_menu');
                        element.contextMenu();
                    }
                });
            },
            select: function(start, end) {
                var dialog = new PatientManagement.PatientManagement.CalendarVisitsDialog();
                dialog.newPredifinedVisit(start.format("YYYY-MM-DD HH:mm:ss"),end.format("YYYY-MM-DD HH:mm:ss"));

                //$('#calendar').fullCalendar('unselect');

            },
            eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
                Q.confirm(FormatAlertMessage(event.title, event.start, event.end), () => {
                        var dialog = new PatientManagement.PatientManagement.CalendarVisitsDialog();

                        dialog.updateVisit(event.id, event.start.format("YYYY-MM-DD HH:mm:ss"), event.end.format("YYYY-MM-DD HH:mm:ss"));

                    },
                    {
                        onCancel: () => {
                            $("#calendar").fullCalendar('refetchEvents');

                        }
                    }
                );
            },
            eventResize: function(event,dayDelta,minuteDelta, revertFunc) {
                Q.confirm(FormatAlertMessage(event.title, event.start, event.end), () => {
                        var dialog = new PatientManagement.PatientManagement.CalendarVisitsDialog();
                        dialog.updateVisit(event.id, event.start.format("YYYY-MM-DD HH:mm:ss"), event.end.format("YYYY-MM-DD HH:mm:ss"));
                },
                    {
                        onCancel: () => {
                            $("#calendar").fullCalendar('refetchEvents');

                        }
                    }
                );
            }
        });
        $('#calendar').fullCalendar('addEventSource', "/Dashboard/GetVisitsTasks/");
        if (/Mobi/.test(navigator.userAgent)) {
            $('#calendar').fullCalendar('changeView', 'agendaDay');
        }

    });
</script>
